{% extends "base.html" %}{% block content %}
    <nav style="padding: .5rem 0; font-size: 2em; background-color: #e2924863; text-align:center; font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <a id="add-blog" href="/add/">Add A Blog</a>
    </nav>
    <h1>Recent Posts</h1>
    {% comment %} here is where the query happens {% endcomment %}
    {% for post in post_list %}
    <div class="post">
        <h2>
            <a href="{% url 'blog_detail' post.pk %}">{{ post }}</a>
        </h2>
        <p class="byline">
            Posted by {{ post.author.username }} &mdash; {{ post.published_date }}
        </p>
    <div class="post-body">
        {{ post.text }}
    </div>
    <ul class="categories">
        {% for category in post.categories.all %}
            <li>{{ category }}</li>
        {% endfor %}
    </ul>
    </div>
    {% endfor %}
{% endblock %}